.hiden-nav {
    background-color: aqua;
    width: 20%;
    top: 80px;
    position: fixed;
    right: -100%;
    transition: right ease 0.3s;
    &__toggle {
        &:active {
            + .hiden-nav {
                right: 1%;
            }
        }
    }
    &__link {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 10px 15px;
    }
}